table
{ 
  border-spacing: 0px;
  margin: 1px;
  padding: 1px;
  border: 10px; 
  background-color: #FFFFFF; 
  color: maroon; 
  text-align: left; 
  vertical-align: top; 
}

.t_table
{
  border: solid black; 
  border-width: 1px;
  border-collapse: collapse; 
}

.t_title
{
  border: solid red; border-width: 1px; background-color: #DDDDDD;
  padding: 3px;
}

.t_value
{
  border: solid gray; 
  border-width: 1px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.t_value_r
{
  border: solid gray; 
  border-width: 1px;
  text-align: right;
}

.warning 
{
   padding: 20px;
   margin: 10px;
   background: #ff0030;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}


.important:before         { content: "\27BD"; }
.alert:before             { content: "\26A0"; }

.btn:focus {
  outline: none;
}

.edit-button {
  width: 76px;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

input[disabled] {
  background: white;
  border: none;
}

.port-input {
  width: 60px;
}